@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body, h1, h2 {
  font-family: "Roboto", sans-serif;
}

.header__logo, .menu h1 {
  font-family: "Shrikhand", sans-serif;
}

.loc i, .header__return {
  color: #353535;
}

.fct i {
  color: #7e7e7e;
}

.intro, .fct__list, .rst, .menu {
  background-color: #f6f6f6;
}

.btn a {
  color: white;
}

.rst__body {
  font-size: 0.9rem;
}
.rst__descr {
  color: black;
}
.rst__body--new {
  background-color: #99E2D0;
  color: #2b987d;
}

.menu {
  font-size: 0.8em;
}
.menu h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 300;
}

.footer {
  font-size: 0.9em;
}
.footer a {
  color: white;
}

.header {
  height: 55px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #afafaf94;
  box-shadow: 0px 0px 50px 15px #18181857;
}
.header__logo {
  transform: scale(80%);
  padding-top: 10px;
}
.header__return {
  transform: scale(110%);
  position: relative;
  right: 15%;
  padding-top: 5px;
}
.header__menu {
  border-bottom: none;
  box-shadow: none;
  z-index: 1;
}

@media screen and (min-width: 650px) {
  .header__return {
    right: 32%;
  }
}
@media screen and (min-width: 813px) {
  .header__return {
    right: 35%;
  }
}
.footer {
  background-color: #353535;
  width: 100%;
  height: 230px;
}
.footer__logo {
  filter: brightness(200);
  padding: 30px 0 15px 25px;
  width: 130px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 20px 0px 30px;
}
.footer__links {
  padding-top: 10px;
  width: 200px;
}
.footer__links--b {
  font-weight: bold;
}
.footer__links a {
  display: flex;
}
.footer__links i {
  padding-right: 10px;
}

@media screen and (min-width: 813px) {
  .footer {
    height: 300px;
  }
  .footer__logo {
    width: 250px;
  }
  .footer__links {
    font-size: 1.3rem;
    padding-top: 15px;
    padding-left: 50px;
    width: 40%;
  }
}
.loc {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loc__town {
  display: flex;
  justify-content: space-between;
  width: 140px;
  padding-right: 30px;
}

.intro {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.intro__title {
  text-align: center;
  width: 70%;
  padding-top: 25px;
}
.intro__description {
  text-align: center;
  width: 80%;
  padding-bottom: 20px;
}
@media screen and (min-width: 813px) {
  .intro {
    width: 85%;
    height: 400px;
    margin: 20px auto;
    border-radius: 10px;
  }
  .intro__title {
    font-size: 2.3rem;
  }
  .intro__description {
    font-size: 1.7rem;
    width: 70%;
  }
}

.fct {
  height: 350px;
  width: 80%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.fct__title {
  padding-bottom: 15px;
}
.fct__list {
  box-shadow: 0px 2px 4px 0px rgba(214, 207, 207, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  border-radius: 15px;
  height: 65px;
  width: 100%;
  position: relative;
}
.fct__list__number {
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  font-size: 0.8rem;
  position: absolute;
  left: -10px;
}
.fct__list__descr {
  display: flex;
  justify-content: space-between;
  width: 215px;
  padding-right: 10%;
}
@media screen and (min-width: 650px) {
  .fct {
    width: 90%;
    margin-bottom: 30px;
  }
  .fct__list {
    height: 80px;
  }
  .fct__list__number {
    width: 30px;
    height: 30px;
    left: -15px;
    font-size: 1.1rem;
  }
  .fct__list__descr {
    width: 50%;
    padding-right: 20%;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 813px) {
  .fct {
    height: 600px;
  }
  .fct__title {
    font-size: 2rem;
  }
  .fct__list {
    height: 130px;
  }
  .fct__list__descr {
    font-size: 1.6rem;
    padding-right: 20%;
  }
  .fct__list__number {
    width: 40px;
    height: 40px;
    font-size: 1.4rem;
    left: -20px;
  }
}

.rst {
  height: 1230px;
  display: flex;
  flex-direction: column;
}
.rst__title {
  padding: 1em 0 0.5em 1em;
  font-size: 2rem;
}
.rst__body {
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px -1px rgba(8, 7, 7, 0.281);
  height: 250px;
  width: 330px;
  position: relative;
  overflow: hidden;
}
.rst__body__img {
  position: absolute;
  height: 110%;
  width: 110%;
  top: -80px;
  border-radius: 10px;
}
.rst__body__img--width {
  width: 100%;
  height: 170%;
  top: -150px;
}
.rst__body--new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 3px;
  width: 80px;
  height: 30px;
  position: absolute;
  right: 13px;
  top: 13px;
}

.rst__descr {
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
.rst__descr__text {
  padding-left: 15px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rst__descr__like {
  padding-right: 15px;
  font-size: 1.5rem;
}

@media screen and (min-width: 650px) {
  .rst {
    width: 90%;
    height: 1500px;
    margin: 0 auto 25px auto;
    border-radius: 15px;
  }
  .rst__body {
    width: 80%;
    height: 40%;
  }
}
@media screen and (min-width: 813px) {
  .rst {
    height: 350vh;
    margin: 20px auto;
    border-radius: 15px;
  }
  .rst__title {
    font-size: 2rem;
  }
  .rst__body {
    width: 80%;
    height: 60%;
  }

  .rst__descr {
    height: 20%;
    font-size: 1.5rem;
  }

  .rst__descr i {
    transform: scale(150%);
  }
}
.background {
  height: 30vh;
  display: flex;
}
.background__image {
  height: 35vh;
  width: 100vw;
  z-index: -2;
}
.background__image__width {
  height: 200%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px 40px 0 0;
  z-index: 1;
  padding-bottom: 50px;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8% 5% 3% 5%;
}

.menu__list {
  margin: 0 auto;
  flex-direction: column;
  width: 93%;
}
.menu__list h2 {
  border-bottom: 3px solid #99E2D0;
  width: 45px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  padding-top: 20px;
}

.list__dishes {
  background-color: white;
  border-radius: 15px;
  width: 95%;
  height: 65px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list__dishes__description {
  padding-left: 10px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list__dishes__price {
  padding: 25px 20px 0 0;
}

@media screen and (min-width: 650px) {
  .background {
    height: 180px;
  }
  .background__image {
    height: 180%;
  }
  .background__image__width {
    height: 350%;
  }

  .menu__title {
    font-size: 1.3rem;
  }

  .menu__title i {
    transform: scale(150%);
  }

  .menu h2 {
    font-size: 1.4rem;
  }

  .list__dishes {
    height: 100px;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 813px) {
  .background {
    height: 300px;
  }
  .background__image__width {
    height: 350%;
  }

  .menu__title {
    font-size: 1.8rem;
    padding: 3% 7%;
  }

  .menu__title i {
    transform: scale(180%);
  }

  .list__dishes {
    font-size: 1.3rem;
    height: 17vh;
  }
  .list__dishes__description {
    height: 8vh;
    padding: 1vh 2vw;
  }
  .list__dishes__price {
    padding-top: 6vh;
  }
}
@media screen and (min-width: 1281px) {
  .background {
    height: 35vh;
  }

  .menu__list {
    margin-bottom: 2rem;
  }

  .menu__title i {
    transform: scale(200%);
  }
}
.btn {
  height: 50px;
  width: 210px;
  margin-bottom: 30px;
  border: 1px solid lightgray;
  border-radius: 250px;
  color: white;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 80%);
  font-weight: 600;
  font-size: 0.9rem;
}
.btn__menu {
  width: 170px;
  margin: 30px auto;
}

@media screen and (min-width: 813px) {
  .btn {
    width: 300px;
    height: 80px;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
