* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

@import "./sass/base/typography.scss";
@import "./sass/layouts/header_footer";
@import "./sass/components/localisation.scss";
@import "./sass/components/intro.scss";

