* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body {
    z-index: 1
}
@import "./sass/base/typography.scss";
@import "./sass/utils/mixins.scss";
@import "./sass/base/responsive.scss";
@import "./sass/base/animations.scss";
@import "./sass/layouts/header_footer";
@import "./sass/components/intro&loc.scss";
@import "./sass/components/process.scss";
@import "./sass/components/restaurants.scss";
@import "./sass/layouts/carte.scss";
@import "./sass/components/buttons.scss";

