@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  z-index: 1;
}

/*---------- Site colors ----------*/
.loc i, .header__return {
  color: #353535;
}

.fct i {
  color: #7e7e7e;
}

.footer a, .btn a {
  color: white;
}

.rst__descr {
  color: black;
}

.rst__body--new {
  background-color: #99E2D0;
  color: #2b987d;
}

.intro, .fct__list, .rst, .menu {
  background-color: #f6f6f6;
}

/*---------------- Site typo ---------------*/
body, h1, h2 {
  font-family: "Roboto", sans-serif;
}

.header__logo, .menu h1 {
  font-family: "Shrikhand", sans-serif;
}

.rst__body, .menu, .footer, .btn {
  font-size: 0.85rem;
}

.menu h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
}

/*----------------------------- Loader animation --------------------------------*/
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: FadeOut 2800ms;
}

#loader-spin {
  width: 100px;
  height: 100px;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 80px;
  animation: spin 1800ms;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.9;
    z-index: 5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes FadeOut {
  0% {
    background-color: rgba(211, 211, 211, 0.99);
    z-index: 5;
  }
  100% {
    background-color: rgba(211, 211, 211, 0);
    z-index: -1;
  }
}
/*-------------------------- Like buttons animation ---------------------------*/
.menu_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-btn {
  overflow: hidden;
  position: relative;
  clip-path: url(#menu_icon-svg-path);
  height: 90px;
  width: 90px;
  transform: scale(0.35);
}

#fill-btn-path,
#fill-btn-path-1,
#fill-btn-path-2,
#fill-btn-path-3,
#fill-btn-path-4 {
  fill: none;
  stroke: black;
  stroke-width: 0.5rem;
}

.radientBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  background: linear-gradient(#9356DC 0%, #FF79DA 80%);
  transform: translateY(100px);
  transition: transform 0.7s ease-out;
}

.fill-btn:hover .radientBg {
  transform: translateY(0);
}

@media screen and (min-width: 813px) {
  .fill-btn {
    transform: scale(0.5);
  }
}
/*------------------------ Menu FadeIn animation -----------------------*/
.menu__list {
  animation: fadeUp 1s linear 0s;
}
.menu__list--1 {
  animation-delay: 0.5s;
}
.menu__list--2 {
  animation-delay: 1s;
}
.menu__list--3 {
  animation-delay: 1.5s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    transform: none;
  }
}
/*----------------------- Save plates animation -------------------------*/
.list__dishes:hover {
  cursor: pointer;
}
.list__dishes:hover .list__dishes__description {
  width: 60%;
}
.list__dishes:hover .list__dishes__price {
  padding: 25px 0 0 5px;
  animation: SlideIn 0.4s ease-in-out 0s;
}
.list__dishes:hover .list__dishes__save {
  display: flex;
  width: 20%;
  position: relative;
  animation: SlideIn 0.4s ease-in-out 0s;
}
.list__dishes:hover .list__dishes__save i {
  animation: rotate 0.8s forwards 0s;
}

@keyframes rotate {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
  }
  100% {
    transform-origin: center;
    transform: none;
  }
}
@keyframes SlideIn {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/*---------------- HEADER ---------------*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin-bottom: 2px;
  border-bottom: 2px solid #afafaf94;
  box-shadow: 0px 0px 50px 15px #18181857;
}
.header__logo {
  transform: scale(80%);
  padding-top: 10px;
}
.header__return {
  transform: scale(110%);
  position: relative;
  right: 15%;
  padding-top: 5px;
}
.header__menu {
  border-bottom: none;
  box-shadow: none;
  z-index: 1;
}

@media screen and (min-width: 650px) {
  .header__return {
    right: 32%;
  }
}
@media screen and (min-width: 813px) {
  .header__return {
    right: 35%;
  }
}
/*---------------- FOOTER --------------------*/
.footer {
  background-color: #353535;
  width: 100%;
  height: 230px;
}
.footer__logo {
  filter: brightness(200);
  padding: 30px 0 15px 25px;
  width: 130px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 20px 0px 30px;
}
.footer__links {
  padding-top: 10px;
  width: 200px;
}
.footer__links--b {
  font-weight: bold;
}
.footer__links a {
  display: flex;
}
.footer__links i {
  padding-right: 10px;
}

@media screen and (min-width: 813px) {
  .footer {
    height: 300px;
  }
  .footer__logo {
    width: 250px;
  }
  .footer__links {
    font-size: 1.3rem;
    padding-top: 15px;
    padding-left: 50px;
    width: 40%;
  }
}
/*--------------LOCALISATION----------------*/
.loc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
}
.loc__town {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  padding-right: 30px;
}

/*------------------INTRODUCTION-------------------*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  align-items: center;
}
.intro__title, .intro__description {
  text-align: center;
  width: 78%;
  padding-top: 25px;
}
.intro__description {
  padding-bottom: 20px;
}
@media screen and (min-width: 813px) {
  .intro {
    width: 85%;
    height: 400px;
    margin: 20px auto;
    border-radius: 10px;
  }
  .intro__title {
    font-size: 2.3rem;
  }
  .intro__description {
    font-size: 1.7rem;
    width: 70%;
  }
}

/*-------------------- PROCESS BLOCK -------------------*/
.fct {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 350px;
  width: 80%;
  padding-top: 60px;
}
.fct__title {
  padding-bottom: 15px;
}
.fct__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 2px 4px 0px rgba(214, 207, 207, 0.75);
  margin: 10px 0;
  border-radius: 25px;
  height: 70px;
  width: 100%;
  position: relative;
}
.fct__list__number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
  width: 23px;
  height: 23px;
  font-size: 0.85rem;
  position: absolute;
  left: -10px;
}
.fct__list__descr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
  padding-right: 10%;
}
@media screen and (min-width: 650px) {
  .fct {
    width: 90%;
    margin-bottom: 30px;
  }
  .fct__list {
    height: 80px;
  }
  .fct__list__number {
    width: 30px;
    height: 30px;
    left: -15px;
  }
  .fct__list__descr {
    width: 50%;
    padding-right: 20%;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 813px) {
  .fct {
    height: 600px;
  }
  .fct__title {
    font-size: 2rem;
  }
  .fct__list {
    height: 130px;
  }
  .fct__list__descr {
    font-size: 1.6rem;
    padding-right: 20%;
  }
  .fct__list__number {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    left: -20px;
  }
}

.fct__list--active {
  /*  Colored item in process list */
  background: #ece1f9;
}
.fct__list--active i {
  color: #9356DC;
}

/*-------------------------RESTAURANTS BLOCK--------------------*/
.rst {
  display: flex;
  flex-direction: column;
  height: 1230px;
}
.rst__title {
  padding: 1em 0 0.5em 1em;
  font-size: 2rem;
}
.rst__body {
  /* Restaurants cards */
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px -1px rgba(8, 7, 7, 0.281);
  height: 250px;
  width: 330px;
  position: relative;
  overflow: hidden;
}
.rst__body__img {
  position: absolute;
  height: 110%;
  width: 110%;
  top: -80px;
  border-radius: 10px;
}
.rst__body__img--width {
  width: 100%;
  height: 170%;
  top: -150px;
}
.rst__body--new {
  /* Add a 'new' icon on cards */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 3px;
  width: 80px;
  height: 30px;
  position: absolute;
  right: 13px;
  top: 13px;
}

.rst__descr {
  /* Description for cards restaurant */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  height: 30%;
  border-radius: 0 0 10px 10px;
}
.rst__descr__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
  height: 70%;
}

@media screen and (min-width: 650px) {
  .rst {
    width: 90%;
    height: 1500px;
    margin: 0 auto 25px auto;
    border-radius: 15px;
  }
  .rst__body {
    width: 80%;
    height: 40%;
  }
}
@media screen and (min-width: 813px) {
  .rst {
    height: 350vh;
    margin: 20px auto;
    border-radius: 15px;
  }
  .rst__title {
    font-size: 2rem;
  }
  .rst__body {
    width: 80%;
    height: 60%;
  }

  .rst__descr {
    height: 20%;
    font-size: 1.5rem;
  }

  .rst__descr i {
    transform: scale(150%);
  }
}
/*----------------- RESTAURANTS PAGE ----------------------*/
.background {
  /* Background image on menu pages */
  height: 30vh;
  display: flex;
}
.background__image {
  height: 35vh;
  width: 100vw;
  z-index: -2;
}
.background__image__width {
  /* Precision for wider image */
  height: 200%;
}

.menu {
  /* Menu block with 3 lists */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px 40px 0 0;
  z-index: 1;
  padding-bottom: 50px;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4% 5% 3% 5%;
}
.menu__title h1 {
  font-size: 1.5rem;
}

.menu__list {
  margin: 0 auto;
  flex-direction: column;
  width: 93%;
}
.menu__list h2 {
  border-bottom: 3px solid #99E2D0;
  width: 45px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  padding-top: 20px;
}

.list__dishes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: relative;
  border-radius: 15px;
  width: 95%;
  height: 65px;
  margin-bottom: 15px;
  overflow: hidden;
}
.list__dishes__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  height: 70%;
  width: 78%;
}
.list__dishes__description p, .list__dishes__description h3 {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.list__dishes__price {
  padding: 25px 20px 0 0;
}
.list__dishes__save {
  /* checkbox for the saving animation */
  display: none;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.list__dishes__save i {
  color: white;
  font-size: 180%;
}

@media screen and (min-width: 650px) {
  .background {
    height: 180px;
  }
  .background__image {
    height: 180%;
  }
  .background__image__width {
    height: 350%;
  }

  .menu__title h1 {
    font-size: 2rem;
  }

  .menu h2 {
    font-size: 1.4rem;
  }

  .list__dishes {
    height: 100px;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 813px) {
  .background {
    height: 300px;
  }
  .background__image__width {
    height: 350%;
  }

  .menu__title {
    font-size: 1.8rem;
    padding: 3% 7%;
  }

  .menu__title i {
    transform: scale(180%);
  }

  .list__dishes {
    font-size: 1.3rem;
    height: 17vh;
  }
  .list__dishes__description {
    height: 8vh;
    padding: 1vh 2vw;
  }
  .list__dishes__price {
    padding-top: 6vh;
  }
}
@media screen and (min-width: 1281px) {
  .background {
    height: 35vh;
  }

  .menu__list {
    margin-bottom: 2rem;
  }

  .menu__title i {
    transform: scale(200%);
  }
}
/*-------------------- BUTTONS ------------------*/
.btn {
  height: 50px;
  width: 210px;
  margin-bottom: 30px;
  border: 1px solid lightgray;
  border-radius: 250px;
  color: white;
  background: linear-gradient(350deg, #9356DC 0%, #FF79DA 80%);
  font-weight: 600;
  z-index: 1;
}
.btn__menu {
  width: 170px;
  margin: 30px auto;
}
.btn:hover {
  filter: brightness(110%);
  transition: 0.3s;
  color: #e6e6e6;
  box-shadow: 0px 2px 15px 0px rgba(100, 100, 100, 0.548);
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 813px) {
  .btn {
    width: 300px;
    height: 80px;
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
