.btn {
        height: 50px;
        width: 210px;
        margin-bottom: 30px;
        border: 1px solid lightgray;
        border-radius: 250px;
        color: white;
        background: linear-gradient(0deg,$primary 0%, $secondary 80%);
        font-weight: 600;
        font-size: 0.9rem;
        &__menu {
            width: 170px;
            margin: 30px auto;
        }
}
@include tablets {
    .btn {
        width: 300px;
        height: 80px;
        font-size: 1.2rem;
    }
}