.intro {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__title {
        text-align: center;
        width: 70%;
        padding-top: 15px;
    }
    &__description {
        text-align: center;
        width: 80%;
    }
    &__btn {
        height: 45px;
        width: 200px;
        margin-bottom: 30px;
        border: 1px solid lightgray;
        border-radius: 250px;
        color: white;
        background-color: $primary;
    }
    @include tablets {
        width: 70%;
        margin: 20px auto;
        border-radius: 10px;
    }
}