
.loc {
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    &__town {
        display: flex;
        justify-content: space-between;
        width: 140px;
        padding-right: 30px;
    }
}