/*-------------------- PROCESS BLOCK -------------------*/
.fct {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 350px;
    width: 80%;
    padding-top: 60px;
    &__title {
        padding-bottom: 15px;
    }
    &__list {
        @include FlexCentAround;
        @include BoxShadow;
        margin: 10px 0;
        border-radius: 25px;
        height: 70px;
        width: 100%;
        position: relative;
        &__number {
            @include FlexCenter;
            border-radius: 20px;
            color: white;
            background-color: $primary;
            width: 23px;
            height: 23px;
            font-size: $small;
            position: absolute;
            left: -10px;
        }
        &__descr {
            @include FlexCentAround;
            width: 75%;
            padding-right: 2%;
            font-size: 1.1rem;
        }
    }
    @include phone {
            width: 90%;
            margin-bottom: 30px;
        &__list {
            height: 80px;
            &__number {
                width: 30px;
                height: 30px;
                left: -15px;
                }
            &__descr {
                font-size: $medium;
                }
        } 
    }
    @include tablets {
        height: 600px;
        &__title {
            font-size: $large;
        }
        &__list {
            height: 130px;
            &__descr {
                padding-right: 20%;
            }
            &__number {
                width: 40px;
                height: 40px;
                font-size: $medium;
                left: -20px;
            }
            }
        }
    @include laptop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 25vh;
        width: 95%;
        &__title {
            width: 100%;
        }
        &__list {
            width: 29%;
            height: 40%;
            &__descr {
                width: 80%;
                padding: 0;
            }
        }
    } 
}
.fct__list--active {  /*  Colored item in process list */
    background: lighten($color: $primary, $amount: 33%);
    & i {
        color: $primary;
    }
}