/*-------------------------RESTAURANTS BLOCK--------------------*/
.rst {
    display: flex;
    flex-direction: column;
    height:1230px;
    &__title {
        padding: 1em 0 0.5em 1em;
        font-size: $large;
    }
    &__body { /* Restaurants cards */
        margin: 10px auto;
        border-radius: 10px;
        box-shadow: 0px 0px 5px -1px rgba(8, 7, 7, 0.281);
        height: 250px;
        width: 330px;
        position: relative;
        overflow: hidden;
        &__img {
            position: absolute;
            height: 110%;
            width: 110%;
            top: -80px;
            border-radius: 10px;
            &--width {
                width: 100%;
                height: 170%;
                top: -150px;
            }
          }
        &--new {  /* Add a 'new' icon on cards */
            @include FlexCenter;
            font-weight: bold;
            border-radius: 3px;
            width: 80px;
            height: 30px;
            position: absolute;
            right: 13px;
            top: 13px;
        } 
      }
}
.rst__descr {   /* Description for cards restaurant */
    @include FlexCentBetween;
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 30%;
    border-radius: 0 0 10px 10px;
    &__text {
        @include FlexColAround;
        padding-left: 15px;
        height: 70%;
      }
}
@include phone {
    .rst {
    width: 90%;
    height: 1500px;
    margin: 0 auto 25px auto;
    border-radius: 15px;
    &__body {
        width: 80%;
        height: 40%;
    }
} }
@include tablets {
    .rst {
    height: 350vh;
    margin: 20px auto;
    border-radius: 15px;
    &__title {
        font-size: 2rem;
    }
    &__body {
        width: 80%;
        height: 60%;
        &--new {
            width: 18%;
            height: 8%;
            font-size: $medium;
        }
    }
    }
    .rst__descr {
        height: 20%;
        font-size: 1.5rem;
    }
    .rst__descr i {
        transform: scale(150%);
    }
}
