/*-----------------------------Animation du Loader--------------------------------*/

#loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: FadeOut 3000ms;
}
 #loader-spin{
    width: 100px;
    height: 100px;
    border-top: 10px solid $primary;
    border-bottom: 10px solid $secondary;
    border-radius: 80px;
    animation: spin 1500ms;
    animation-fill-mode: forwards;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 0.9;
        z-index: 5;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
        z-index: -1;
    }
}
@keyframes FadeOut {
    0% {
        background-color: rgba(211, 211, 211, 0.99);
        z-index: 5;
    }
    100% {
        background-color: rgba(211, 211, 211, 0);
        z-index: -1;
    }
}

/*--------------------------Animation des boutons like---------------------------*/

.like-btn {
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: rgb(255, 255, 255);
    transform: scale(170%);
    width: 15px;
    height: 15px;
    padding: 2% 4% 0 0;
    position: relative;
}
.like-btn:hover {
    color: $secondary;
    animation: fill 0.8s forwards 0s ;
    transform: scaleY(1), scale(150%);
}

@keyframes fill {
    0% {
        color: white;
    }
    100% {
        color: $secondary;
        text-shadow: -1px 0 $secondary, 0 1px $secondary, 1px 0 $secondary, 0 -1px $secondary;
    }
}

/*------------------------Animation FadeIn des menus-----------------------*/

$num-menu: 3;
$anim-dur: 0.5s;


.menu__list {
    animation: fadeUp 1s linear 0s;
    @for $i from 1 through $num-menu {
        &--#{$i} {
            animation-delay: $anim-dur * $i;
        }
    }
}

@keyframes fadeUp {
    0% {
    opacity: 0;
    transform: translateY(10%);
    }
    100% {
    transform: none;
    }
}

/*-----------------------Animation Sauvegarde des plats-------------------------*/

.list__dishes:hover {
    cursor: pointer;
    .list__dishes__description {
        width: 60%;
    }
    .list__dishes__price {
        padding: 25px 0 0 5px;
        animation: SlideIn 0.4s ease-in-out 0s;
    }
    .list__dishes__save {
        display: flex;
        width: 20%;
        position: relative;
        animation: SlideIn 0.4s ease-in-out 0s;
        & i {
            animation: rotate 0.8s forwards 0s;
        }
    }
}

@keyframes rotate {
    0%{
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
    }
    100%{
        transform-origin: center;
        transform: none;
    }
}

@keyframes SlideIn {
    0%{
        transform: translate3d(50px, 0, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
    }
}
