/*----------------------------- Loader animation --------------------------------*/

#loader {
    @include FlexCenter;
    width: 100%;
    height: 100%;
    position: fixed;
    animation: FadeOut 3500ms forwards;
}
 #loader-spin{
    width: 100px;
    height: 100px;
    border-top: 10px solid $primary;
    border-bottom: 10px solid $secondary;
    border-radius: 80px;
    animation: spin 2500ms forwards;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 0.9;
        z-index: 5;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
        z-index: -1;
    }
}
@keyframes FadeOut {
    0% {
        background-color: rgba(211, 211, 211, 0.99);
        z-index: 5;
    }
    100% {
        background-color: rgba(211, 211, 211, 0);
        z-index: -1;
    }
}

@include tablets {
    #loader-spin {
        width: 150px;
        height: 150px;
        border-radius: 100px
    }
}

/*-------------------------- Like buttons animation ---------------------------*/

.menu_icon {
    @include FlexCenter;
}

.fill-btn {
    overflow: hidden;
    position: relative;
    clip-path: url(#menu_icon-svg-path);
    height: 90px;
    width: 90px;
    transform: scale(0.35);
}

#fill-btn-path,
#fill-btn-path-1,
#fill-btn-path-2,
#fill-btn-path-3,
#fill-btn-path-4 {
    fill: none;
    stroke: black;
    stroke-width: 0.5rem;
}

.radientBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 1;
    background: $gradient-color;
    transform: translateY(100px);
    transition: transform 0.7s ease-out;
}

.fill-btn:hover .radientBg {
    transform: translateY(0);
}

@include tablets {
    .fill-btn {
        transform: scale(0.50);
    }
}

/*------------------------ Menu FadeIn animation -----------------------*/

$num-menu: 3;
$anim-dur: 0.5s;


.menu__list {
    animation: fadeUp 1s linear 0s;
    @for $i from 1 through $num-menu {
        &--#{$i} {
            animation-delay: $anim-dur * $i;
        }
    }
}

@keyframes fadeUp {
    0% {
    opacity: 0;
    transform: translateY(10%);
    }
    100% {
    transform: none;
    }
}

/*----------------------- Save plates animation -------------------------*/

.list__dishes:hover {
    cursor: pointer;
    .list__dishes__description {
        width: 55%;
    }
    .list__dishes__price {
        animation: SlideIn 0.4s ease-in 0s;
    }
    .list__dishes__save {
        display: flex;
        width: 20%;
        position: relative;
        animation: SlideIn 0.4s ease-in 0s;
        & i {
            animation: rotate 0.8s forwards 0s;
        }
    }
}

@keyframes rotate {
    0%{
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
    }
    100%{
        transform-origin: center;
        transform: none;
    }
}

@keyframes SlideIn {
    0%{
        transform: translate3d(100%, 0, 0);
    }
    100%{
        transform: translate3d(0, 0, 0);
    }
}
