@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
};

@mixin FlexCentBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
};
@mixin FlexCentAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin FlexColAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
};

@mixin FlexColBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin TextEllipsis {
    display: inline-block;
    text-overflow: ellipsis ;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
};
@mixin BoxShadow {
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.21);
}
