/*----------------- RESTAURANTS PAGE ----------------------*/

.background {  /* Background image on menu pages */
    height: 30vh;
    display: flex;
    &__image {
        height: 35vh;
        width: 100vw;
        z-index: -2;
        &__width {  /* Precision for wider image */
            height: 200%;
        }
    }
}
.menu {  /* Menu block with 3 lists */ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px 40px 0 0;
    z-index: 1;
    padding-bottom: 50px;
    &__title {
       @include FlexCentBetween;
        padding: 4% 5% 3% 5%;
        & h1 {
            font-size: 1.5rem;
        }
    }
}
.menu__list { 
    margin: 0 auto;
    flex-direction: column;
    width: 93%;
    & h2 {
        border-bottom: 3px solid $tertiary;
        width: 45px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        padding-top: 20px;
    }
 }
 .list__dishes {
    @include FlexCentBetween; 
    background-color: white;
    position: relative;
    border-radius: 15px;
    width: 95%;
    height: 65px;
    margin-bottom: 15px;
    overflow: hidden;
    &__description {
        @include FlexColBetween;
        padding-left: 10px;
        height: 70%;
        width: 78%;
        & p, h3 {
            @include TextEllipsis;
        }
    }
    &__price {
        padding: 25px 20px 0 0;
    }
    &__save {  /* checkbox for the saving animation */
        display: none;
        justify-content: center;
        align-items: center;
        width: 23%;
        height: 100%;
        background-color: $tertiary;
        border-radius: 0 15px 15px 0;
        & i {
            color: white;
            font-size: 180%;
        }
    }
}
@include phone {
    .background {
        height: 180px;
        &__image {
            height: 180%;
            &__width {
                height: 350%;
            }
        }
    }
    .menu__title h1 {
        font-size: $large;
    }
    .menu h2 {
        font-size: 1.4rem;
    }
    .list__dishes {
        height: 100px;
        font-size: 1.1rem;
    }
} 
@include tablets {
    .background {
        height: 300px;
        &__image__width {
            height: 350%;
        }
    }
    .menu__title {
        font-size: 1.8rem;
        padding: 3% 7% ;
    }
    .menu__title i {
        transform: scale(180%);
}
    .list__dishes {
        font-size: 1.3rem;
        height: 17vh;
        &__description {
            height: 8vh;
            padding: 1vh 2vw;
        }
        &__price {
            padding-top: 6vh;
        }
    }
}
@include laptop {
    .background {
        height: 35vh;
    }
    .menu__list {
        margin-bottom: 2rem;
    }
    .menu__title i {
        transform: scale(200%);
}
}