.background {
    height: 30vh;
    display: flex;
    &__image {
        height: 35vh;
        width: 100vw;
        z-index: -2;
        &__width {
            height: 200%;
        }
    }
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px 40px 0 0;
    z-index: 1;
    padding-bottom: 50px;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8% 5% 3% 5%;
    }
}
.menu__list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    & h2 {
        border-bottom: 3px solid $tertiary;
        width: 45px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        padding-top: 20px;
    }
 }
 .list__dishes {
     background-color: white;
     border-radius: 15px;
     width: 330px;
     height: 65px;
     margin-bottom: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     &__description {
         padding-left: 10px;
         height: 40px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
     &__price {
         padding: 25px 20px 0 0;
     }
}
@include phone {
    .background {
        height: 180px;
        &__image {
            height: 180%;
            &__width {
                height: 350%;
            }
        }
    }
    .menu__list {
        width: 80vw;
        height: 400px;
    }
    .list__dishes {
        width: 85%;
        height: 22%;
    }
} 
@include tablets {
    .background {
        height: 300px;
        &__image__width {
            height: 350%;
        }
    }
    .menu h2 {
        font-size: 1.2rem;
    }
    .menu__title {
        font-size: 1.3rem;
        padding: 3% 9% ;
    }
    .menu__list {
        height: 470px;
    }
    .list__dishes {
        font-size: 1rem;
        height: 12vh;
        &__description {
            height: 7vh;
            padding: 1vh 2vw;
        }
        &__price {
            padding-top: 6vh;
        }
    }
}
@include laptop {
    .background {
        height: 35vh;
    }
    .menu__list {
        margin: 0 auto 35px auto;
    }
}