.header {
    height: 55px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #afafaf94;
    box-shadow: 0px 0px 50px 15px #18181857;
    &__logo {
      transform: scale(80%);
      padding-top: 10px;
    }
    &__return {
      transform: scale(110%);
      position: relative;
      right: 15%;
      padding-top: 5px;
    }
    &__menu {
      border-bottom: none;
      box-shadow: none;
      z-index: 1;
    }
}
@include phone {
  .header__return {
    right: 32%;
  }
}
@include tablets {
  .header__return {
    right: 35%;
  }
}
.footer {
  background-color: #353535;
  width: 100vw;
  height: 230px;
  &__logo {
    filter: brightness(200);
    padding: 30px 0 15px 25px;
    width: 130px;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px 0px 30px;
  }
  &__links {
    padding-top: 10px;
    width: 200px;
    &--b {
      font-weight:bold;
    }
    & a {
    display: flex;
    }
    & i {
    padding-right: 10px;
    }
  }
}